<!--
	Author: 
	Date: 

	Description: Template Description

-->
	<div class='row'>
		<div class='one whole box white'>
			<div class='row'>
		  		<div class="one tenth list-group-item active">
						<img src='/images/v-small.jpg' alt='v sign' />
				</div>
				<div class="nine tenth list-group-item active">
					<h4>{{content}}</h4>
				</div>
			</div>
			
		</div>
	</div>
  	<div class='row' id='shows-list'>
	{{#each shows}}
		{{#compare type "==" "event"}}
			<div class='three sixth padded bounceInUp animated'>
				<div class='orange box'>
					<div class="list-group-item active">
						<h4 class="black list-group-item-heading">{{performer}}</h4>
					</div>
					{{#if event}}
					<div class="list-group-item">
						{{event}}
					</div>
					{{/if}}
					<div class="list-group-item">
						{{place}}
					</div>
					<div class="list-group-item">
						{{time}}
					</div>
				</div>
			</div>
		{{/compare}}
	{{/each}}
	</div>
	<div class='row'>
		<div class="one sixth three-up-small-tablet two-up-mobile padded ">
			<div class='orange box rotateIn animated'>
				<div class="block yellow">
					<img src='/images/affisch-sm-y.jpg' alt='Affisch'/>
				</div>
			</div>
		</div>
	</div>
	

